DEBUG=False
# Generate: python -c "import secrets; print(secrets.token_urlsafe(70))"
SECRET_KEY="N-Omg6ZaHsP6B5aYqY1TV33Lpq1autOERYX5Z"

ALLOWED_HOSTS=backend.app.com

# Cors
CORS_ALLOWED_ORIGINS=https://example.com,https://sub.example.com

# Superuser
SUPERUSER_EMAIL=superuser@example.com
SUPERUSER_PASSWORD=superuser

# Database
DB_NAME=db-name
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# S3
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_STORAGE_BUCKET_NAME=bucket_name
# AWS_S3_ENDPOINT_URL=s3_endpoint_url (optional)
# AWS_S3_SIGNATURE_VERSION=s3_signature_version (optional)

# Redis
REDIS_URL=redis://127.0.0.1:6379/0

# Celery (Optional)
# CELERY_TASK_DEFAULT_QUEUE=dulceria_cuellar
# CELERY_TASK_DEFAULT_EXCHANGE=dulceria_cuellar
# CELERY_TASK_DEFAULT_ROUTING_KEY=dulceria_cuellar

# Email
EMAIL_HOST=email-smtp.example.com
EMAIL_PORT=25
EMAIL_USE_TLS=True
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=no-reply@example.com
