# Generate: python -c "import secrets; print(secrets.token_urlsafe(70))"
SECRET_KEY="N-Omg6ZaHsP6B5aYqY1TV33Lpq1autOERYX5Z"

# Database
DB_NAME=db-name
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# S3
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_STORAGE_BUCKET_NAME=bucket_name
# AWS_S3_ENDPOINT_URL=s3_endpoint_url (optional)
# AWS_S3_SIGNATURE_VERSION=s3_signature_version (optional)
